.catalog {
  display: grid;
  gap: 0 48px;
  grid-template-columns: repeat(autofill,200px);
  
  @media screen and (max-width: 1600px) {
    grid-template-columns: repeat(4,25%);
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(3,33.33%);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 50%);
  }

  @media screen and (max-width: 487px) {
    grid-template-columns: repeat(1,100%);
    
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
    box-sizing: border-box;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
